<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="eCtune.Controls.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="eCtune.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="eCtune.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <eCtune.Controls.Properties.Settings>
            <setting name="TunerBarLocation" serializeAs="String">
                <value>201, 0</value>
            </setting>
            <setting name="TablesBarLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmDataDisplayLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmDataGridLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="dataloggingToolStripLocation" serializeAs="String">
                <value>3, 24</value>
            </setting>
            <setting name="mainToolStripLocation" serializeAs="String">
                <value>367, 24</value>
            </setting>
            <setting name="frmErrorCodesLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmSettingsTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="viewToolBarLocation" serializeAs="String">
                <value>3, 49</value>
            </setting>
            <setting name="frmCommErrorsLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmCommErrorsSize" serializeAs="String">
                <value>673, 96</value>
            </setting>
            <setting name="frmGridChartSize" serializeAs="String">
                <value>892, 403</value>
            </setting>
            <setting name="frmErrorCodesSize" serializeAs="String">
                <value>292, 73</value>
            </setting>
            <setting name="frmDataGridSize" serializeAs="String">
                <value>169, 273</value>
            </setting>
            <setting name="frmDataDisplaySize" serializeAs="String">
                <value>756, 72</value>
            </setting>
            <setting name="frmGridChartSpilterHor" serializeAs="String">
                <value>430</value>
            </setting>
        </eCtune.Controls.Properties.Settings>
        <eCtune.Properties.Settings>
            <setting name="frmDataDisplayLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmDataGridLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="dataloggingToolStripLocation" serializeAs="String">
                <value>324, 24</value>
            </setting>
            <setting name="mainToolStripLocation" serializeAs="String">
                <value>9, 24</value>
            </setting>
            <setting name="frmErrorCodesLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmSettingsTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="viewToolBarLocation" serializeAs="String">
                <value>3, 49</value>
            </setting>
            <setting name="frmCommErrorsLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmCommErrorsSize" serializeAs="String">
                <value>673, 96</value>
            </setting>
            <setting name="frmGridChartSize" serializeAs="String">
                <value>692, 403</value>
            </setting>
            <setting name="frmErrorCodesSize" serializeAs="String">
                <value>292, 73</value>
            </setting>
            <setting name="frmDataGridSize" serializeAs="String">
                <value>169, 273</value>
            </setting>
            <setting name="frmDataDisplaySize" serializeAs="String">
                <value>756, 72</value>
            </setting>
            <setting name="frmGridChartSpilterHor" serializeAs="String">
                <value>303</value>
            </setting>
            <setting name="frmGridChartLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmParametersLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmParametersSize" serializeAs="String">
                <value>511, 373</value>
            </setting>
            <setting name="frmMainSize" serializeAs="String">
                <value>892, 653</value>
            </setting>
            <setting name="frmGridChartTableLoc" serializeAs="String">
                <value>3, 25</value>
            </setting>
            <setting name="frmGridChartMiscLoc" serializeAs="String">
                <value>242, 0</value>
            </setting>
        </eCtune.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <eCtune.Properties.Settings>
            <setting name="eCtune_com_cjperformance_Service" serializeAs="String">
                <value>http://cjperformance.com/ectune/service.asmx</value>
            </setting>
        </eCtune.Properties.Settings>
    </applicationSettings>
    <runtime>    
                   <legacyUnhandledExceptionPolicy enabled="1"/>    
    </runtime>
</configuration>